@import './base.scss';

/* Variables */

$sidebar-w: 100px;
$sidebar-button-w: 40px;

$header-h: 50px;

$account-settings-w: 240px;

$scrollbar-width: 17px;
$table-height: calc(100vh - 250px);

/* Styles */
$sidebar-actived-w: 300px;
$sidebar-button-actived-w: 240px;

.sidebar {
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
    transition: width 0.5s ease;
    overflow: hidden;
    @include size($sidebar-w, 100%);
    @include flex(column, flex-start, center);

    .home-icon img {
        margin-bottom: 30px;
        @include size(60px);
    }
    .sidebar-buttons {
        flex: 1;
        @include flex(column, flex-start, center);
    }
    .sidebar-buttons li {
        margin-bottom: 24px;
        @include size($sidebar-button-w, 50px);
        @include font(1.4rem, 700);

        a {
            flex: 1;
            height: 100%;
            border-radius: 12px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            @include flex(row, center, center);
        }
        i {
            @include size(20px);
            text-align: center;
        }
        span {
            display: none;
        }

        &:hover a {
            cursor: pointer;
            opacity: 0.7;
            color: #228be6;
            background-color: #dff6ff;
        }

        &.actived a {
            color: #228be6;
            background-color: #dff6ff;
        }
    }

    &.actived,
    &:hover {
        & {
            width: $sidebar-actived-w;
        }

        .sidebar-buttons li {
            width: $sidebar-button-actived-w;

            a {
                padding-left: 20px;
                justify-content: flex-start;
            }
            i {
                margin-right: 12px;
            }
            span {
                display: block;
            }
        }
    }
}

.main {
    flex: 1;
    height: 100%;
}

.header {
    height: $header-h;
    margin: 20px 50px 70px 50px;
    @include flex(row, space-between, center);

    .feature-title {
        @include font(3.8rem, 700);
        text-transform: uppercase;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
}

.account {
    position: relative;
    @include flex(row, space-around, center);

    .account-name {
        padding: 8px;
        @include font(1.6rem, 500);
    }

    .account-avatar {
        @include size(50px);
    }

    .account-expand-icon {
        i {
            font-size: 2rem;
            padding: 8px;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover > i {
            cursor: pointer;
            opacity: 0.5;
        }

        &:hover ul {
            display: block;
        }
    }

    .account-settings {
        display: none;
        position: absolute;
        top: 54px;
        right: 0;
        width: $account-settings-w;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 0px #bebcbc;
        background-color: #fff;
        z-index: 1;

        li {
            overflow: hidden;

            a {
                color: #000;
                padding: 8px;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                @include flex(row, flex-start, center);

                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }

                i {
                    padding: 8px;
                    font-size: 2rem;
                    text-align: center;
                    @include size(40px);
                }
                p {
                    padding: 0 8px;
                    color: inherit;
                    @include font(1.6rem, 400);
                }
            }
        }

        li:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        li:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            right: 0;
            width: 50%;
            height: 30px;
            background-color: transparent;
        }
    }
}

.feature {
    margin: 16px 50px;
    position: relative;
    @include flex(row, space-between, flex-start);
}

.toolbar {
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    @include flex(column, space-around, center);

    button {
        padding: 10px;
        margin: 16px 0;
        outline: none;
        border: none;
        border-radius: 8px;
        background: transparent;
        box-shadow: 0 0 6px 0 rgba(100, 99, 99, 0.25);

        i {
            @include font(2.4rem, 700);
        }

        &:hover {
            color: $primary-color;
            opacity: 0.7;
            cursor: pointer;
        }
        &.actived {
            color: $primary-color;
        }
    }
}

.table-wrapper {
    flex: 1;
    margin-right: 50px;
    @include flex(row, flex-start, flex-start);

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            display: block;
            width: calc(100% - $scrollbar-width);
        }
        tbody {
            display: block;
            overflow-y: scroll;
            height: $table-height;
        }
        tr {
            display: table;
            width: 100%;
        }
        tr.actived td {
            background-color: #dff6ff;
        }

        th,
        td {
            width: calc(100% / 8);
            padding: 20px 10px;
        }

        th {
            text-align: left;
            padding: 20px 10px;
            color: rgba(0, 0, 0, 0.6);
            @include font(1.8rem, 500);

            i {
                font-size: 1.4rem;
                padding: 8px;
                color: rgb(75, 73, 73);

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }

        td:not(.spacer) {
            background-color: #fff;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
            @include font(1.4rem, 500);

            i {
                font-size: 2.4rem;
                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                    opacity: 0.8;
                }
            }
        }
        td.spacer {
            padding: 10px;
        }
        td:nth-of-type(2) {
            color: $primary-color;
        }

        th:first-of-type,
        td:first-of-type {
            width: 10%;
            padding-left: 20px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            text-align: center;
        }

        th:nth-of-type(3),
        td:nth-of-type(3) {
            width: calc(100% / 5);
        }

        th:last-of-type,
        td:last-of-type {
            width: calc(100% / 6);
            padding-right: 20px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            text-align: center;
        }
    }
}
