@import './base.scss';

$table-max-height: calc(100vh - 450px);
$column-width: 15%;
.table-wrapper {
    flex: 1;
    margin-right: 50px;
    @include flex(column, end, start);

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;

        tr.active td {
            background-color: #dff6ff;
        }

        th,
        td {
            width: $column-width;
            padding: 20px 10px;
            text-align: center;

            &:first-of-type {
                width: 10%;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }

            &:last-of-type {
                width: 10%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        th {
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            @include font(1.8rem, 500);
        }
        td {
            background-color: #fff;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
            @include font(1.4rem, 500);

            &:focus {
                color: $primary-color;
            }

            i {
                font-size: 2.4rem;
                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                    opacity: 0.8;
                }
            }
        }
        td[contenteditable='true'] {
            outline: none;

            &.edited {
                color: $primary-color;
            }
        }

        select {
            outline: none;
            padding: 8px;
            border: 1px solid $primary-color;
            border-radius: 8px;
            cursor: pointer;
        }

        input[type='checkbox'] {
            @include size(20px);
        }

        &.scrollable {
            @include scrollable-table($table-max-height);
        }
    }

    .sample-entry {
        width: calc(100% - 17px);
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 25%);
        @include flex(row, center, center);

        div {
            margin: 20px;
            @include flex(column, center, center);
        }

        label {
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 10px;
        }

        input {
            font-size: 1.4rem;
            padding: 10px 20px;
            min-width: 220px;
            border-radius: 10px;
            border: 1px solid $primary-color;

            &:focus {
                color: $primary-color;
                outline: 1px solid $secondary-color;
            }

            &[type='date'] {
                text-align: center;
            }
        }
    }

    .message {
        height: 20px;
        width: 100%;
        margin: 10px 0;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        color: $success-color;

        &.fail {
            color: $fail-color;
        }
    }

    .table-buttons {
        width: 100%;
        @include flex(row, center, center);

        button {
            color: #fff;
            outline: none;
            border: none;
            border-radius: 30px;
            padding: 10px 30px;
            margin: 0 8px;
            box-shadow: 0px 3px 0px 0px #256d85;
            background-color: $primary-color;

            &:hover {
                cursor: pointer;
            }
            &:active {
                transform: translateY(5px);
                box-shadow: none;
            }
        }
    }
}
