/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
/* Variables */
/* Global Mixins */
/* Animations */
@-webkit-keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset CSS */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
}

/* Global styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Layout styles */
.container {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  height: 100%;
}

.feature {
  margin: 16px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.index {
  margin: 16px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index h3 {
  font-size: 2rem;
  font-weight: 700;
}

.table-wrapper {
  flex: 1;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.table-wrapper table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table-wrapper table tr.active td {
  background-color: #dff6ff;
}
.table-wrapper table th,
.table-wrapper table td {
  width: 15%;
  padding: 20px 10px;
  text-align: center;
}
.table-wrapper table th:first-of-type,
.table-wrapper table td:first-of-type {
  width: 10%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.table-wrapper table th:last-of-type,
.table-wrapper table td:last-of-type {
  width: 10%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.table-wrapper table th {
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}
.table-wrapper table td {
  background-color: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  font-weight: 500;
}
.table-wrapper table td:focus {
  color: #47b5ff;
}
.table-wrapper table td i {
  font-size: 2.4rem;
}
.table-wrapper table td i:hover {
  cursor: pointer;
  color: #47b5ff;
  opacity: 0.8;
}
.table-wrapper table td[contenteditable=true] {
  outline: none;
}
.table-wrapper table select {
  outline: none;
  padding: 8px;
  border: 1px solid #47b5ff;
  border-radius: 8px;
  cursor: pointer;
}
.table-wrapper table input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.table-wrapper table.scrollable thead {
  display: block;
  width: calc(100% - 17px);
}
.table-wrapper table.scrollable tbody {
  display: block;
  overflow-y: scroll;
  max-height: calc(100vh - 450px);
}
.table-wrapper table.scrollable tr {
  display: table;
  width: 100%;
}
.table-wrapper .sample-entry {
  width: calc(100% - 17px);
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table-wrapper .sample-entry div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-wrapper .sample-entry label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.table-wrapper .sample-entry input {
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #47b5ff;
}
.table-wrapper .sample-entry input:focus {
  color: #47b5ff;
  outline: 1px solid #256d85;
}
.table-wrapper .error-message {
  height: 20px;
  width: 100%;
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}
.table-wrapper .error-message.success {
  color: #41ef25;
}
.table-wrapper .error-message.fail {
  color: #f31d1d;
}
.table-wrapper .error-message {
  height: 20px;
  width: 100%;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: #41ef25;
}
.table-wrapper .error-message.fail {
  color: #f31d1d;
}
.table-wrapper .error-message {
  height: 20px;
  width: 100%;
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}
.table-wrapper .error-message.success {
  color: #41ef25;
}
.table-wrapper .error-message.fail {
  color: #f31d1d;
}
.table-wrapper .table-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table-wrapper .table-buttons button {
  color: #fff;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 8px;
  box-shadow: 0px 3px 0px 0px #256d85;
  background-color: #47b5ff;
}
.table-wrapper .table-buttons button:hover {
  cursor: pointer;
}
.table-wrapper .table-buttons button:active {
  transform: translateY(5px);
  box-shadow: none;
}/*# sourceMappingURL=Table.css.map */