/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
/* Variables */
/* Global Mixins */
/* Animations */
@-webkit-keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset CSS */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
}

/* Global styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Layout styles */
.container {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  height: 100%;
}

.feature {
  margin: 16px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.index {
  margin: 16px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index h3 {
  font-size: 2rem;
  font-weight: 700;
}

.table-wrapper {
  flex: 1;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: space-between;
}
.table-wrapper table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table-wrapper table tr.active td {
  background-color: #dff6ff;
}
.table-wrapper table tr.spaceUnder > td {
  padding-bottom: 1em;
}
.table-wrapper table th,
.table-wrapper table td {
  width: 15%;
  padding: 20px 10px;
  text-align: center;
}
.table-wrapper table th:first-of-type,
.table-wrapper table td:first-of-type {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.table-wrapper table th:last-of-type,
.table-wrapper table td:last-of-type {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.table-wrapper table th {
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}
.table-wrapper table td.spacer {
  padding: 10px;
}
.table-wrapper table td:not(.spacer) {
  background-color: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  font-weight: 500;
}
.table-wrapper table td:not(.spacer) i {
  font-size: 2.4rem;
}
.table-wrapper table td:not(.spacer) i:hover {
  cursor: pointer;
  color: #47b5ff;
  opacity: 0.8;
}
.table-wrapper table td:nth-of-type(2) {
  color: #47b5ff;
}
.table-wrapper table.scrollable thead {
  display: block;
  width: calc(100% - 17px);
}
.table-wrapper table.scrollable tbody {
  display: block;
  overflow-y: scroll;
  max-height: calc(100vh - 400px);
}
.table-wrapper table.scrollable tr {
  display: table;
  width: 100%;
}

.default {
  color: rgba(0, 0, 0, 0.6);
}

.select-menu {
  --background: #242836;
  --text: #fff;
  --icon: #fff;
  --icon-active: #3F4656;
  --list: #1C212E;
  --list-text: rgba(255, 255, 255, .2);
  --list-text-hover: rgba(255, 255, 255, .5);
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}
.select-menu select,
.select-menu .button {
  font-family: inherit;
  margin: 0;
  border: 0;
  text-align: left;
  text-transform: none;
}
.select-menu select {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  padding: 8px 36px 8px 12px;
  visibility: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}
.select-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(var(--t));
  transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}
.select-menu ul li {
  padding: 8px 36px 8px 12px;
  cursor: pointer;
}
.select-menu > ul {
  background: var(--list);
  color: var(--list-text);
  border-radius: 6px;
}
.select-menu > ul li {
  transition: color 0.3s ease;
}
.select-menu > ul li:hover {
  color: var(--list-text-hover);
}
.select-menu .button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  color: var(--text);
  background: var(--background);
}
.select-menu .button em {
  --r: 45deg;
  display: block;
  position: absolute;
  right: 12px;
  top: 0;
  width: 7px;
  height: 7px;
  margin-top: 13px;
}
.select-menu .button em:before, .select-menu .button em:after {
  --o: .4;
  content: "";
  width: 7px;
  height: 7px;
  opacity: var(--o);
  display: block;
  position: relative;
  transition: opacity 0.2s ease;
  transform: rotate(var(--r)) scale(0.75);
}
.select-menu .button em:before {
  border-left: 2px solid var(--icon);
  border-top: 2px solid var(--icon);
  top: 1px;
}
.select-menu .button em:after {
  border-right: 2px solid var(--icon);
  border-bottom: 2px solid var(--icon);
  bottom: 1px;
}
.select-menu:not(.open) > ul {
  opacity: 0;
  pointer-events: none;
}
.select-menu.open.tilt-up {
  -webkit-animation: tilt-up 0.4s linear forwards;
          animation: tilt-up 0.4s linear forwards;
}
.select-menu.open.tilt-up .button em:before {
  --o: 1;
}
.select-menu.open.tilt-down {
  -webkit-animation: tilt-down 0.4s linear forwards;
          animation: tilt-down 0.4s linear forwards;
}
.select-menu.open.tilt-down .button em:after {
  --o: 1;
}

@-webkit-keyframes tilt-up {
  40%, 60% {
    transform: perspective(500px) rotateX(8deg);
  }
}

@keyframes tilt-up {
  40%, 60% {
    transform: perspective(500px) rotateX(8deg);
  }
}
@-webkit-keyframes tilt-down {
  40%, 60% {
    transform: perspective(500px) rotateX(-8deg);
  }
}
@keyframes tilt-down {
  40%, 60% {
    transform: perspective(500px) rotateX(-8deg);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

button .change_button {
  position: absolute;
  right: 0;
  margin: 16px 0;
  outline: none;
  border: none;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 0 6px 0 rgba(100, 99, 99, 0.25);
}
button .change_button i {
  font-size: 2.4rem;
  font-weight: 700;
}
button .change_button:hover {
  color: #47b5ff;
  cursor: pointer;
}
button .change_button.actived {
  color: #47b5ff;
}/*# sourceMappingURL=Table.css.map */