/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

/* Variables */
$primary-color: #47b5ff;
$secondary-color: #256d85;
$bg-color: #f5f5f5;
$fail-color: #f31d1d;
$success-color: #41ef25;

$container-h: 100vh;

/* Global Mixins */
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin font($size, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
}
@mixin scrollable-table($table-max-height: 400px) {
    border-collapse: collapse;

    thead {
        display: block;
        width: calc(100% - 17px);
    }
    tbody {
        display: block;
        overflow-y: scroll;
        max-height: $table-max-height;
    }
    tr {
        display: table;
        width: 100%;
    }
}

/* Animations */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Reset CSS */
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: #000;
}

/* Global Styles */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.container {
    height: $container-h;
    background-color: $bg-color;
    @include flex(row, center, center);
}
