@import './base.scss';

.container {
    background-color: #fff;
}

form {
    min-width: 30%;
    padding: 0px 50px;
    border: 1px solid #000000;
    border-radius: 16px;
    margin: 20px;

    .form-title {
        margin: 30px 0;
        text-transform: uppercase;
        text-align: center;
        color: #000000;
        @include font(3.4rem, 700);
    }

    .form-label {
        margin: 10px 2px;
        display: block;
        @include font(1.8rem, 500);
    }

    .form-control {
        width: 100%;
        padding: 12px;
        border: 1px solid #646161;
        border-radius: 12px;

        &.valid {
            outline: $success-color;
            border-color: $success-color;
            border-width: 2px;
        }
        &.invalid {
            outline: $fail-color;
            border-color: $fail-color;
            border-width: 2px;
        }
    }

    .form-text {
        margin: 12px 2px;
        @include font(1.2rem, 400);

        &.valid {
            color: $success-color;
            border-width: 2px;
        }
        &.invalid {
            color: $fail-color;
            border-width: 2px;
        }
    }

    .form-refs {
        margin: 10px 0;

        a {
            margin-right: 10px;
            color: $primary-color;
        }
    }

    .form-buttons {
        @include flex(row, center, center);
    }

    .form-button {
        width: 50%;
        padding: 16px 0px;
        margin: 40px 0;
        border: none;
        border-radius: 56px;
        color: #fff;
        background-color: $primary-color;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .back-button {
        text-align: left;
        margin-right: auto;
        background-color: #fff;

        a {
            text-decoration: none;
            color: #666;
        }
    }

    .form-month {
        display: block;
        margin-bottom: 30px;
        text-align: center;
        @include font(3rem, 400);

        p {
            display: inline-block;
            margin-left: 30px;
            padding: 10px;
            border-radius: 12px;
            color: #fff;
            background-color: $primary-color;
            @include font(4rem, 700);
        }
    }

    $table-max-height: 300px;
    $column-width: 20%;
    $row-spacing: 20px;
    .form-table {
        table {
            width: 100%;

            th,
            td {
                width: $column-width;
                padding: 20px 10px;
                text-align: center;
                padding: 10px;
            }

            th {
                @include font(20px, 800);

                i:hover {
                    cursor: pointer;
                }
            }
            td {
                @include font(18px, 400);
            }

            &.scrollable {
                @include scrollable-table($table-max-height);
            }
        }
    }

    .form-summary {
        margin-bottom: 20px;
        @include flex(row, space-between, center);

        span:nth-of-type(1) {
            @include font(2.4rem, 400);
        }
        span:nth-of-type(2) {
            padding: 10px 36px;
            border-radius: 8px;
            color: #fff;
            background: #256d85;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
            @include font(2.6rem, 400);
        }
    }

    hr {
        margin: 20px 0;
        border: 1px solid #2e2424;
    }
}
