/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
/* Variables */
/* Global Mixins */
/* Animations */
@-webkit-keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset CSS */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
}

/* Global Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.container {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  margin-left: 50px;
}

.feature {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feature h3 {
  font-size: 2rem;
  font-weight: 700;
}

.overview {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.overview .stats {
  flex-shrink: 1;
  width: 700px;
}
.overview .stats > div {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.overview .stats > div .stat {
  width: 30%;
  padding: 20px 30px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: left;
  margin-top: 20px;
  transition: transform 0.5s ease;
}
.overview .stats > div .stat:hover {
  transform: translateY(-10%);
}
.overview .stats > div .stat .image-wrapper {
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overview .stats > div .stat .image-wrapper img {
  width: 70%;
  height: 70%;
}
.overview .stats > div .stat p {
  margin: 10px 0;
  color: #5e5757;
  font-size: 1.6rem;
  font-weight: 400;
}
.overview .stats > div .stat b {
  color: #5e5757;
  font-size: 1.8rem;
  font-weight: 800;
}
.overview .stats > div .stat:nth-of-type(1) {
  background-color: #bbf8db;
}
.overview .stats > div .stat:nth-of-type(2) {
  background-color: #dff6ff;
}
.overview .stats > div .stat:nth-of-type(3) {
  background-color: #f8dea0;
}
.overview .stats > div .stat:last-of-type {
  width: 100%;
  padding: 30px 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.overview .stats > div .stat:last-of-type:hover {
  transform: none;
}
.overview .stats > div .stat:last-of-type div:not(.image-wrapper) {
  margin: 0 10px;
}
.overview .stats > div .stat:last-of-type div:not(.image-wrapper) p {
  margin: 0 0 4px 0;
}
.overview .banner {
  border-radius: 32px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  background: url("../assets/hotel.jpg") no-repeat center center;
  background-size: cover;
  transition: transform 0.5s ease;
  margin-left: auto;
  flex-shrink: 1;
  width: 25%;
  height: 360px;
}
.overview .banner:hover {
  transform: scale(1.05);
}
.overview .banner + .banner {
  background-image: url("../assets/inside.jpg");
}

.recent-orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.recent-orders .recent-orders-table {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  margin-top: 30px;
  padding: 20px 0 20px 0px;
  display: block;
  width: 100%;
}
.recent-orders .recent-orders-table table {
  width: 100%;
}
.recent-orders .recent-orders-table table tr {
  height: 20px;
}
.recent-orders .recent-orders-table table th {
  color: #615757;
  text-align: center;
  padding-bottom: 20px;
  width: 15%;
  font-size: 20px;
  font-weight: 400;
}
.recent-orders .recent-orders-table table td {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
}
.recent-orders .recent-orders-table table th:nth-of-type(4) {
  width: 20%;
}/*# sourceMappingURL=index.css.map */