@import './base.scss';

/* Styles */
$sidebar-width: 100px;
$sidebar-button-width: 50px;
$sidebar-active-width: 300px;
$sidebar-button-active-width: 240px;
.sidebar {
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
    transition: width 0.5s ease;
    overflow: hidden;
    @include size($sidebar-width, 100%);
    @include flex(column, flex-start, center);

    .home-icon img {
        margin-bottom: 30px;
        @include size(60px);
    }
    .sidebar-buttons {
        flex: 1;
        @include flex(column, flex-start, center);
    }
    .sidebar-buttons li {
        margin-bottom: 24px;
        @include size($sidebar-button-width);
        @include font(1.4rem, 700);

        a {
            flex: 1;
            height: 100%;
            border-radius: 12px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            @include flex(row, center, center);
        }
        i {
            @include size(20px);
            text-align: center;
        }
        span {
            display: none;
        }

        &:hover a {
            cursor: pointer;
            color: #228be6;
            background-color: #dff6ff;
        }

        &.active a {
            color: #228be6;
            border-radius: 12px;
            background-color: #dff6ff;
        }
    }

    &.active,
    &:hover {
        width: $sidebar-active-width;

        .sidebar-buttons li {
            width: $sidebar-button-active-width;

            a {
                padding-left: 20px;
                justify-content: flex-start;
            }
            i {
                margin-right: 12px;
            }
            span {
                display: block;
            }
        }
    }
}

.main {
    flex: 1;
    height: 100%;
}

$header-height: 50px;
.header {
    height: $header-height;
    margin: 20px 50px 70px 50px;
    @include flex(row, space-between, center);

    .feature-title {
        @include font(3.8rem, 700);
        text-transform: uppercase;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
}

$account-settings-width: 240px;
.account {
    position: relative;
    @include flex(row, space-around, center);

    .account-name {
        padding: 8px;
        @include font(1.6rem, 500);
    }

    .account-avatar {
        @include size(50px);
    }

    .account-expand-icon {
        i {
            font-size: 2rem;
            padding: 8px;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover > i {
            cursor: pointer;
            opacity: 0.5;
        }

        &:hover ul {
            display: block;
        }
    }

    .account-settings {
        display: none;
        position: absolute;
        top: 54px;
        right: 0;
        width: $account-settings-width;
        border-radius: 4px;
        box-shadow: 0px 0px 6px 0px #bebcbc;
        background-color: #fff;
        z-index: 1;

        li {
            overflow: hidden;

            a {
                color: #000;
                padding: 8px;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                @include flex(row, flex-start, center);

                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }

                i {
                    padding: 8px;
                    font-size: 2rem;
                    text-align: center;
                    @include size(40px);
                }
                p {
                    padding: 0 8px;
                    color: inherit;
                    @include font(1.6rem, 400);
                }
            }
        }

        li:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        li:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            right: 0;
            width: 50%;
            height: 30px;
            background-color: transparent;
        }
    }
}

.feature {
    margin: 16px 50px;
    position: relative;
    @include flex(row, space-between, flex-start);
}

.toolbar {
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: none;

    button {
        padding: 10px;
        margin: 16px 0;
        outline: none;
        border: none;
        border-radius: 8px;
        background: transparent;
        box-shadow: 0 0 6px 0 rgba(100, 99, 99, 0.25);

        i {
            @include font(2.4rem, 700);
        }

        &:hover {
            color: $primary-color;
            cursor: pointer;
        }
        &.active {
            color: $primary-color;
        }
    }

    &.active {
        @include flex(column, space-around, center);
    }
}

$table-max-height: calc(100vh - 400px);
$column-width: 15%;
.table-wrapper {
    flex: 1;
    margin-right: 50px;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;

        tr.active td {
            background-color: #dff6ff;
        }
        th,
        td {
            width: $column-width;
            padding: 20px 10px;
            text-align: center;

            &:first-of-type {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }

            &:last-of-type {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        th {
            color: rgba(0, 0, 0, 0.6);
            @include font(1.8rem, 500);
        }
        td {
            &.spacer {
                padding: 10px;
            }
            &:not(.spacer) {
                background-color: #fff;
                box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
                @include font(1.4rem, 500);

                i {
                    font-size: 2.4rem;
                    &:hover {
                        cursor: pointer;
                        color: $primary-color;
                        opacity: 0.8;
                    }
                }
            }
            &:nth-of-type(2) {
                color: $primary-color;
            }
        }

        &.scrollable {
            @include scrollable-table($table-max-height);
        }
    }
}

.months {
    @include flex(row, space-between, center);
    flex-wrap: wrap;

    .month {
        margin: 0px 70px 40px;
        background: #47b5ff;
        box-shadow: 0px 10px 0px 1px #256d85;
        border-radius: 50px;
        text-decoration: none;
        @include size(220px);
        @include flex(row, center, center);
        p {
            text-transform: uppercase;
            color: #ffffff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            @include font(5rem, 400);
        }
    }
    .month:active {
        transform: translateY(10px);
        box-shadow: none;
    }
}

.reports {
    @include flex(row, center, center);

    form {
        border: none;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    }
}
