/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
/* Variables */
/* Global Mixins */
/* Animations */
@-webkit-keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset CSS */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
}

/* Global Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.container {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Variables */
/* Styles */
.sidebar {
  padding: 50px 0;
  background-color: #fff;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
  transition: width 0.5s ease;
  overflow: hidden;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar .home-icon img {
  margin-bottom: 30px;
  transition: all 0.5s ease;
  width: 60px;
  height: 60px;
}
.sidebar .sidebar-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar .sidebar-buttons li {
  margin-bottom: 24px;
  width: 40px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 700;
}
.sidebar .sidebar-buttons li a {
  flex: 1;
  height: 100%;
  border-radius: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sidebar .sidebar-buttons li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.sidebar .sidebar-buttons li span {
  display: none;
}
.sidebar .sidebar-buttons li:hover a {
  cursor: pointer;
  color: #228be6;
  background-color: #dff6ff;
}
.sidebar .sidebar-buttons li.actived a {
  color: #228be6;
  border-radius: 12px;
  background-color: #dff6ff;
}
.sidebar.actived, .sidebar:hover {
  width: 300px;
}
.sidebar.actived .home-icon, .sidebar:hover .home-icon {
  padding: 30px;
}
.sidebar.actived .home-icon img, .sidebar:hover .home-icon img {
  width: 80px;
  height: 80px;
}
.sidebar.actived .sidebar-buttons li, .sidebar:hover .sidebar-buttons li {
  width: 240px;
}
.sidebar.actived .sidebar-buttons li a, .sidebar:hover .sidebar-buttons li a {
  padding-left: 20px;
  justify-content: flex-start;
}
.sidebar.actived .sidebar-buttons li i, .sidebar:hover .sidebar-buttons li i {
  margin-right: 12px;
}
.sidebar.actived .sidebar-buttons li span, .sidebar:hover .sidebar-buttons li span {
  display: block;
}

.main {
  flex: 1;
  height: 100%;
}

.header {
  height: 50px;
  margin: 20px 50px 70px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .feature-title {
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.account {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.account .account-name {
  padding: 8px;
  font-size: 1.6rem;
  font-weight: 500;
}
.account .account-avatar {
  width: 50px;
  height: 50px;
}
.account .account-expand-icon i {
  font-size: 2rem;
  padding: 8px;
}
.account .account-expand-icon:hover {
  cursor: pointer;
}
.account .account-expand-icon:hover > i {
  cursor: pointer;
  opacity: 0.5;
}
.account .account-expand-icon:hover ul {
  display: block;
}
.account .account-settings {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  width: 240px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px #bebcbc;
  background-color: #fff;
  z-index: 1;
}
.account .account-settings li {
  overflow: hidden;
}
.account .account-settings li a {
  color: #000;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.account .account-settings li a:hover {
  color: #fff;
  background-color: #47b5ff;
}
.account .account-settings li a i {
  padding: 8px;
  font-size: 2rem;
  text-align: center;
  width: 40px;
  height: 40px;
}
.account .account-settings li a p {
  padding: 0 8px;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 400;
}
.account .account-settings li:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.account .account-settings li:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.account .account-settings::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 50%;
  height: 30px;
  background-color: transparent;
}

.feature {
  margin: 16px 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.toolbar {
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.toolbar button {
  padding: 10px;
  margin: 16px 0;
  outline: none;
  border: none;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 0 6px 0 rgba(100, 99, 99, 0.25);
}
.toolbar button i {
  font-size: 2.4rem;
  font-weight: 700;
}
.toolbar button:hover {
  color: #47b5ff;
  cursor: pointer;
}
.toolbar button.actived {
  color: #47b5ff;
}
.toolbar.actived {
  -webkit-animation: slideIn 1s ease;
          animation: slideIn 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.table-wrapper {
  flex: 1;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper table thead {
  display: block;
  width: calc(100% - 17px);
}
.table-wrapper table tbody {
  display: block;
  overflow-y: scroll;
  height: calc(100vh - 250px);
}
.table-wrapper table tr {
  display: table;
  width: 100%;
}
.table-wrapper table tr.actived td {
  background-color: #dff6ff;
}
.table-wrapper table th,
.table-wrapper table td {
  width: 12.5%;
  padding: 20px 10px;
}
.table-wrapper table th {
  text-align: left;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  font-weight: 500;
}
.table-wrapper table th i {
  font-size: 1.4rem;
  padding: 8px;
  color: rgb(75, 73, 73);
}
.table-wrapper table th i:hover {
  cursor: pointer;
  opacity: 0.6;
}
.table-wrapper table td:not(.spacer) {
  background-color: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  font-weight: 500;
}
.table-wrapper table td:not(.spacer) i {
  font-size: 2.4rem;
}
.table-wrapper table td:not(.spacer) i:hover {
  cursor: pointer;
  color: #47b5ff;
  opacity: 0.8;
}
.table-wrapper table td.spacer {
  padding: 10px;
}
.table-wrapper table td:nth-of-type(2) {
  color: #47b5ff;
}
.table-wrapper table th:first-of-type,
.table-wrapper table td:first-of-type {
  width: 10%;
  padding-left: 20px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  text-align: center;
}
.table-wrapper table th:nth-of-type(3),
.table-wrapper table td:nth-of-type(3) {
  width: 20%;
}
.table-wrapper table th:last-of-type,
.table-wrapper table td:last-of-type {
  width: 16.6666666667%;
  padding-right: 20px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
}

.months {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.months .month {
  margin: 0px 60px 40px;
  background: #47b5ff;
  box-shadow: 0px 10px 0px 1px #256d85;
  border-radius: 50px;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.months .month p {
  text-transform: uppercase;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 5rem;
  font-weight: 400;
}
.months .month:active {
  transform: translateY(10px);
  box-shadow: none;
}/*# sourceMappingURL=layout.css.map */