@import './base.scss';

$sidebar-width: 100px;
$sidebar-button-width: 50px;
$sidebar-active-width: 340px;
$sidebar-button-active-width: 280px;
.sidebar {
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
    transition: width 0.5s ease;
    overflow: hidden;
    @include size($sidebar-width, 100%);
    @include flex(column, flex-start, center);

    .home {
        text-decoration: none;
        @include flex(row, flex-start, center);

        .home-icon {
            border-radius: 16px;
            box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 25%);
            @include size(60px);
        }

        .home-text {
            padding: 10px 0;
            text-transform: uppercase;
            @include font(2.2rem, 900);
            @include gradient-text($primary-color, $secondary-color);
        }
    }

    .sidebar-buttons {
        flex: 1;
        margin-top: 30px;
        @include flex(column, start, center);
    }
    .sidebar-buttons li {
        margin-bottom: 24px;
        @include size($sidebar-button-width);
        @include font(1.4rem, 700);

        a {
            flex: 1;
            height: 100%;
            border-radius: 12px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            @include flex(row, center, center);
        }
        i {
            @include size(20px);
            text-align: center;
        }
        span {
            display: none;
        }

        &:hover a {
            cursor: pointer;
            color: #228be6;
            background-color: #dff6ff;
        }

        &.active a {
            color: #228be6;
            border-radius: 12px;
            background-color: #dff6ff;
        }
    }

    &.active,
    &:hover {
        width: $sidebar-active-width;

        .home {
            width: $sidebar-button-active-width;

            .home-icon {
                margin-right: 12px;
            }

            .home-text {
                display: block;
            }
        }

        .sidebar-buttons li {
            width: $sidebar-button-active-width;

            a {
                padding-left: 20px;
                justify-content: flex-start;
            }
            i {
                margin-right: 12px;
            }
            span {
                display: block;
            }
        }
    }
}